.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 5rem;
  background-color: #43a047;
}
.container h1 {
  font-size: 5rem;
  font-weight: bolder;
  color: #111;
}
.containerImg img {
  height: auto;
  width: 100%;
  max-width: 20rem;
}
.cartInfo {
  border-radius: 3rem;
  background-color: #111;
  color: #fff;
  padding: 2rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.nav {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}
.link {
  text-decoration: none;
  color: #111;
  font-size: 2rem;
  font-weight: bold;
}
.link:hover {
  text-decoration: underline;
}